<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MVVM.QuoteApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".BroadcastReceiver.BroadcastReceiver"
            android:exported="false" />
        <activity
            android:name=".DynamicViewAdding.DynamicViewAdding"
            android:exported="false" />
        <activity
            android:name=".animation.Animation"
            android:exported="false" />
        <activity
            android:name=".MVVM.MVVMActivity"
            android:exported="false" />
        <activity
            android:name=".MVVMWithRetrofit.MVVMWithRetrofit"
            android:exported="false" />
        <activity
            android:name=".RetrofitWithCoroutines.RetrofitWithCoroutineActivity"
            android:exported="false" />
        <activity
            android:name=".listAdapter.ListAdapter"
            android:exported="false" />
        <activity
            android:name=".mvvmWithRoomDatabase.MVVM"
            android:exported="false" />
        <activity
            android:name=".roomDatabase.RoomDatabaseActivity"
            android:exported="false" />
        <activity
            android:name=".lifeCycleAwareComponent.LifeCycleAwareActivity"
            android:exported="false" />
        <activity
            android:name=".livedata.LiveDataActivity"
            android:exported="false" />
        <activity
            android:name=".viewModel.ViewModelActivity"
            android:exported="false" />
        <activity
            android:name=".Retrofit.Retrofit"
            android:exported="false" />
        <activity
            android:name=".firebase.DeleteData"
            android:exported="false" />
        <activity
            android:name=".firebase.UpdateData"
            android:exported="false" />
        <activity
            android:name=".firebase.ReadData"
            android:exported="false" />
        <activity
            android:name=".firebase.CreateData"
            android:exported="false" />
        <activity
            android:name=".firebase.Firebase"
            android:exported="false" />
        <activity
            android:name=".listView.ListView"
            android:exported="false" />
        <activity
            android:name=".fragmentLifecycle.FragmentLifecycle"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".layoutManager.RecyclerView"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>